@{
    ViewBag.Title = "About";
}



<article>
    <p>
This program is a solution for a scenario in which the user needs to generate multiple reports from a single option and keep them on file.  
        for instance, a month end process that lists a detailed sales report, an executive summary report by region, and an individual sales report by sales person.
        These reports need to be stored and searchable for future reference.  
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@